@import "tailwindcss";

@theme {
    --font-sans: var(--font-manrope);
    --font-serif: var(--font-playfair);

    --color-brand-gold: #af8b4d;
    --color-brand-navy: #101c2c;

    --animate-fade-in-up: fade-in-up 1s ease-out forwards;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-float: float 6s ease-in-out infinite;

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    --animate-shadow-move: shadow-move 6s infinite linear;

    @keyframes shadow-move {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #101c2c;
}

::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D4AF37;
}

.light-mode ::-webkit-scrollbar-track {
    background: #f1f5f9;
}

html {
    scroll-behavior: smooth;
}